{% load staticfiles%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
        <table align="center">
        <tr>
            <th>
                {% include 'os_main_template/main_title.html' %}
            </th>
        </tr>
        <tr>
            <th>
                 {% include 'os_main_template/main_menu.html' %}
            </th>
        </tr>
        <tr>
            <th>
                <table align="center" border="0">
                    &emsp;
                    &emsp;
                    &emsp;
                    &emsp;
                    &emsp;
                    &emsp;
                    &emsp;

                    <tr>
                        <th>
                            <table bgcolor="#00ffff" align="center" border="0">
                                <tr>
                                    <th>
                                        <form action="/osclient/register/" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                        <table align="center" border="0">
                                            <tr>
                                                <th> Registration </th>
                                            </tr>
                                            <tr><th><input type="text" placeholder="Name" required name="c1"></th></tr>
                                            <tr><th><input type="number" placeholder="Contact No" required name="c2"></th></tr>
                                            <tr><th>
                                                <textarea name="c3" placeholder="Address" required></textarea>
                                            </th></tr>
                                            <tr>
                                                <th> Photo <input type="file" required name="c4"></th>
                                            </tr>
                                            <tr>
                                                <th><input type="text" placeholder="Username" required name="c5"></th>
                                            </tr>
                                            <tr>
                                                <th><input type="password" placeholder="Password" required name="c6"></th>
                                            </tr>
                                            <tr>
                                                <th><button type="submit">Register</button> </th>
                                            </tr>
                                        </table>
                                        </form>
                                    </th>
                                    <th>
                                        <form action="/osclient/login/" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                        <table align="center" border="0">
                                            <tr>
                                                <th> <img src="{% static 'images/client.jpg' %}" width="200" height="200"></th>
                                            </tr>
                                             <tr>
                                                <th><input type="text" placeholder="Username" required name="c5"></th>
                                            </tr>
                                            <tr>
                                                <th><input type="password" placeholder="Password" required name="c6"></th>
                                            </tr>
                                            <tr>
                                                <th><button type="submit">Login</button> </th>
                                            </tr>
                                        </table>
                                        </form>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    <tr>
                        <th colspan="2">

                      {% for message in messages %}
                          {% if message %}

                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{ message }} </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                        {% endif %}

                            {% endfor %}
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


