{% load staticfiles%}

{% if request.session.status %}
<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body bgcolor="#d3d3d3">
        <table align="center" >
        <tr>
            <th style="align-items: center">
                {% include 'os_main_template/main_title.html' %}
            </th>
        </tr>
        <tr>
            <th>
                 {% include 'os_client_template/os_client_menu.html' %}
            </th>
        </tr>
        <tr>
            <th>
                &emsp;
                <form action="/osclient/complaint/" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                   <table align="center" bgcolor="#d3d3d3">
                       <tr>
                        <th colspan="2">
                            <div style="text-align: center;">
                               <h3> Welcome Mr/Miss : {{ request.session.username }}</h3>
                            </div>
                        </th>
                       </tr>
                     <tr>
                       <th><img src="{% static 'images/client1.jpg' %}" width="250" height="300"></th>
                       <th>
                           <h3> Client complaint comment</h3>
                           <table align="center" border="2" bgcolor="#bc8f8f">
                               <tr>
                                   <th><input type="number" name="uname" required name="cont" placeholder="contact"></th>
                                   <th><textarea typeof="text" placeholder="comment" required name="comment" width="200"></textarea></th>
                               </tr>
                               <th><button type="submit" >send</button></th>
                           </table>
                       </th>
                   </tr>
               </table>
            </form>
            </th>
        </tr>
    </table>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
{% else %}
    <center>
        <font color="red" size="5" face="Arial">
            <h1>Please Login</h1>
        </font>
    </center>
{% endif %}


