<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agent Menu</title>
</head>
<body>
        <table align="center" border="0" style="text-align: center">
            <tr>
                <th width="130"  HEIGHT="30" bgcolor="orange" style="text-align: center">

                  <a href="/osagent/agentwelcome/">
                    HOME
                  </a>
                </th>
                <th width="130" bgcolor="#7cfc00">
{#                    <a href="{% url 'osadmin:adminhome' %}">#}
                    <a href="/osagent/property/">
                        Property
                    </a>
                </th>
                <th width="130" bgcolor="orange">
                    <a href="/osagent/block/">
                        Blocked
                    </a>
                </th>
                <th width="130" bgcolor="#7cfc00">
                     <a href="/osagent/viewsold/">
                    SOLD
                     </a>
                </th>
                <th width="130" bgcolor="orange">

                    <a href="/osagent/agenthome/">
                    LOGOUT
                    </a></th>
            </tr>
        </table>
</body>
</html>