{% load staticfiles%}

{% if request.session.status %}
<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
        <table align="center" >
        <tr>
            <th style="align-items: center">
                {% include 'os_main_template/main_title.html' %}
            </th>
        </tr>
        <tr>
            <th>
                 {% include 'os_agent-template/os_agent_menu.html' %}
            </th>
        </tr>
        <tr>
            <th>
                {% if data %}
                    {% for y in data %}
                        {% for x in y %}
                           <table align="center" border="2">
                               <tr>
                                   <th width="150">Name :</th> <th width="150">{{ x.p_no.name }}</th>
                                   <th rowspan="7"> <img src="{{ x.p_no.photo.url }}" width="150" height="150"></th>
                               </tr>
                               <tr><th width="150">Location :</th> <th width="150">{{ x.p_no.location }}</th></tr>
                               <tr><th width="150">Size :</th> <th width="150">{{ x.p_no.size }}</th></tr>
                               <tr><th width="150">Price(Per Yard) :</th> <th width="150">{{ x.p_no.price }}</th></tr>
                               <tr><th width="150">Facing :</th> <th width="150">{{ x.p_no.facing }}</th></tr>
                               <tr><th width="150">Comments :</th> <th width="150">{{ x.p_no.comment }}</th></tr>
                               <tr><th width="150">POST DATE :</th> <th width="150">{{ x.p_no.add_date }}</th></tr>
                               <tr><th width="150" height="50" colspan="2">
                                   <div style="text-align: center;">


                                    <a href="/osagent/sold/?no={{ x.p_no.p_no }}&cun={{ x.client_uname.client_uname }}">
                                       SOLD PROPERTY
                                    </a>
                                   </div>
                               </th>
                               </tr>
                           </table>


                <table align="center" border="2">
                    <tr><th colspan="2">Blocked Client Details</th></tr>
                    <tr>
                        <th>NAME</th>
                        <th>{{ x.client_uname.name }}</th>
                    </tr>
                    <tr>
                        <th>Contact No</th>
                        <th>{{ x.client_uname.c_no }}</th>
                    </tr>
                </table>

                           {% endfor %}
                    {% endfor %}
                {% else %}
                    <span style="color: red; font-size: small;text-align: center "><h2>No Blocked Plots</h2></span>
                    {% endif %}




            </th>

            <th>

            </th>
        </tr>
    </table>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
{% else %}
    <center>
        <font color="red" size="5" face="Arial">
            <h1>Please Login</h1>
        </font>
    </center>
{% endif %}


