{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
</html>
  <tr>
        <th>
            {% include 'os_main_template/main_title.html' %}
        </th>
  </tr>
        <th>
            {% include 'os_main_template/main_menu.html' %}
        </th>
  <body bgcolor="#6495ed"><!DOCTYPE html>
<!-- About Section -->
    <div align="center" class="about__content show-more-less-state__items"><div class="about__primary-content"><h2 style="color: red" class="sans-20px-black-90 about__header">About us</h2><p style="color: green;font-family: 'Times New Roman';" class="sans-14px-black-75 about__description">Online Land Sales exists to offer discount land for sale in the USA
The company uses Onlinesales.com as a primary liquidation outlet.  All sales are 100% guaranteed, and customer service staff will personally assist you in the easiest and most pleasurable land purchase you have ever made.  Contact Direct Sales or Customer Service at Online Land Sales.

Online Land Sales guarantees your complete satisfaction with Online Land Sales LLC properties, or your money back (on financing agreements this refund is of the principal, and not the interest and fees). Refund request must be received within 2 months of cash purchase, or 6 months of terms purchase, and account must be current.

Find reviews of Online Land Sales / onlinesales.com from multiple sites such as Facebook and the BBB, in one location; http://store.onlinelandsales.com/Reviews_s/2085.htm

Online Land Sales LLC, founded in 2004, provides discount land opportunities to the general public via a combination of online land auctions and direct sales campaigns.

Discount Land. Direct or Online, Auction or Fixed Price, Cash or Guaranteed Financing. Thanks for your Business!</p>
    </div>

  <div  align="center" class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{% static 'images/admin2.jpg' %}" alt="rajkumar" style="width:10%">
      <h3 style="color: #2b542c">Rajkumar</h3>
      <p class="w3-opacity">MANAGER</p>
{#      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>#}
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div  align="center" class="w3-col l3 m6 w3-margin-bottom">
      <img src="{% static 'images/download.jpg' %}" alt="Jane" style="width:10%">
      <h3 style="color: #0ca7df">Sridhar</h3>
      <p class="w3-opacity">AGENT</p>
{#      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>#}
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>
<table align="center">
        <!-- Footer -->
<footer style="color: #0ca7df" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">



  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Onlinesales.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
