{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table align="center" border="0">
    <tr>
        <th width="130" height="30" bgcolor="#7fff00"><a href="/osadmin/mainhome/" >HOME</a></th>
        <th width="130"  bgcolor="#7fff00">
            <a href="/osadmin/adminhome/">ADMIN</a>

        </th>
        <th width="130"  bgcolor="#7fff00">
            <a href="/osagent/agenthome/">AGENT</a>

        </th>

        <th width="130"  bgcolor="#7fff00">
            <a href="/osclient/clienthome/">CLIENT</a>

        </th>
        <th width="130"  bgcolor="#7fff00">
            <a href="/osmain/aboutus/">ABOUTUS</a>
        </th>
        <th width="130"  bgcolor="#7fff00">
            <a href="/osmain/contact/">CONTACTUS</a>

        </th>
    </tr>

</table>
</body>
</html>